<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tmdb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".di.TmdbApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.mvp.splashscreen.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mvp.moviespage.MoviesListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".ui.mvp.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".ui.mvp.webviewpage.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
    </application>

</manifest>